<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="..\static\estilos.css">

</head>
<body>
    <div class="container_login">
        <div class="login_izq">
            <div class="logo">
                <!--<img src="images/logo.png" alt="logo"> -->
                <img src="images/logo.png" alt="logo">
            </div>
            
            <h1 class="creare_login">creare</h1>
            <p1 class="slogan_login">aprendizaje sin límite</p1>
        </div>
        
    <div class="login_der">
        <h2>Bienvenido de nuevo</h2>
        <h1>Inicia Sesión</h1>
            <div class="login_boton">
                <form id="formLogin">
                <h2>Usuario</h2>
                <input class= "ingreso" type="text" placeholder="Escribe acá" id="usuario" required><br>
                <h2>Contraseña</h2>
                <input class= "ingreso" type="password" placeholder="Escribe acá" id="contrasena" required><br>
                <input class ="next" type="submit" value="Next  -->">
                </form>   
            </div>
        <p class="go_register">¿No tienes cuenta? <a class="go_register" href="/register">Regístrate aquí</a></p>
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    </div>
</body>
</html>
