<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form id="formLogin">
        <input type="text" placeholder="Usuario" id="usuario" required><br>
        <input type="password" placeholder="Contraseña" id="contrasena" required><br>
        <input type="submit" value="Entrar">
    </form>
    <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
