<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="..\static\estilos.css">

</head>
<body>
    <div class="container_reg"> 
            <div class="reg_izq">
                <div class="logo">
                <!--<img src="images/logo.png" alt="logo"> -->
                <img src="images/logo.png" alt="logo">
            </div>
            
            <h1 class="creare_login">creare</h1>
            <p1 class="slogan_login">aprendizaje sin límite</p1>
            </div> 
            
            <div class="reg_der">
                 <h1>Regístrate</h1>
                <div class="login_boton">
                <form id="formRegistro"></form>
                    <div class="inputs"> 
                        <h2>Usuario</h2>
                        <input class= "ingreso" type="text" placeholder="Escribe acá" id="usuario" required><br>
                        <h2>Contraseña</h2>
                        <input class= "ingreso" type="password" placeholder="Escribe acá" id="contrasena" required><br>
                        <h2>Correo electrónico</h2>
                        <input class= "ingreso" type="email" placeholder="Escribe acá" id="correo" required><br>
                    </div>

                    <div class="intereses_box">
                        <label class="intereses">Intereses:</label><br>
                        <div class="intereses_list">
                            <input class="intereses_list" type="checkbox" id="intereses" value="Fotografía"> Fotografía<br>
                            <input class="intereses_list" type="checkbox" id="intereses" value="Música"> Música<br>
                            <input class="intereses_list" type="checkbox" id="intereses" value="Diseño Gráfico"> Diseño Gráfico<br>
                            <input class= "next" type="submit" value="Siguiente   -->">

                        </div>
                        
                    </div>

                    
                </form>
                </div>
                <p class="go_login">¿Ya tienes cuenta? <a class="go_login" href="/login">Inicia sesión aquí</a></p>
            </div> 
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>

