<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h1>Registro de Usuario</h1>
    <form id="formRegistro">
        <input type="text" placeholder="Usuario" id="usuario" required><br>
        <input type="password" placeholder="Contraseña" id="contrasena" required><br>
        <input type="email" placeholder="Correo electrónico" id="correo" required><br>
        <label>Intereses:</label><br>
        <input type="checkbox" id="intereses" value="Fotografía"> Fotografía<br>
        <input type="checkbox" id="intereses" value="Música"> Música<br>
        <input type="checkbox" id="intereses" value="Diseño Gráfico"> Diseño Gráfico<br>
        <input type="submit" value="Registrarse">
    </form>
    <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a></p>

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>

